* {
    padding: 0;
    margin: 0;
    border: 1px solid lightgray;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: .75fr 4fr;
    grid-template-rows: .5fr .5fr 3fr 3fr;
}


.header{
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
}


img[src$=".svg"] {
    width: 30px;
    height: auto;
}

ul {
    list-style: none;
}


.subheader{
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: .5fr 3fr 3fr;
    grid-template-rows: 20px 20px;
}

.subheader > img {
    grid-column: 1 / span 1;
    height:auto;
    width: 40px;
    padding-left: 30px;
}

.greeting {
    grid-column: 2 / span 1;
}

.user {
    grid-column: 2 / span 1;
}

.subheader > ul {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sidebar{
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    display: grid;
    align-items: start;
    justify-items: start;
}

.sidebar > div {
    display: flex;}

.content{
    grid-row: 3 / span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 15px;
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 3fr 3fr 3fr;
    gap: 15px;
}

.projects > h2 {
    grid-column: 1 / span 2;
}

.project {}

.announcements{
    grid-column: 2 / span 1;
    margin: 15px;
}

.trending {
    grid-column: 2 / span 1;
    margin: 0 15px 15px 15px;

}